<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles/styleHome.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Naval Battle</title>
    </head>
        <nav>
        <ul class="topnav">
            <a class="active" href="home.html">Home</a>
            <a href = "play_game.html">Play game</a>
            <a href = "create_game.html">Create game</a>
            <a href = "join_game.html">Join game</a>
            <a href = "manage_fleet.html">Manage fleet</a>
        </ul>
        </nav>
    <body>

            <div class="centered-element">
                <h1>Naval Battle</h1>
                <h2>An online war simulator</h2>
                <img src="images/WSNV1.png" alt="logo1" width="300" height="300">
            </div>
            <div class="regles">
                <h1>Règles de jeu</h1>
                <h3>Dans cette bataille 2 joueurs vont s’affronter, ils doivent définir chacun un espace avec la liste
                de leurs vaisseaux, un joueur gagne la partie s’il détruit tous les vaisseaux de son adversaire
                ou si son adversaire n’a plus de munitions.</h3>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
            <div class="bateaux-icons">
                <img src="images/battleship-silhouette-12.png" alt="logo2" width="225" height="225">
            </div>
        </div>
    </body>

</html>